<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="lists-wrapper">
            <form id="list-form">
                <label for="description">New list:</label>
                <input type="text" placeholder="Type your list name here" name="name" />
                <input type="submit" value="Create" />
            </form>
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <input class="listCheckCompleted" data-id="{{ list.id }}" type="checkbox" {%if list.completed%} checked {%endif%} />
                    <a href="/lists/{{ list.id }}">
                        {{ list.name }} 
                    </a>
                    <button class="deleteList" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="todos-wrapper">
            <form id="todo-form">
                <label for="list-select">Choose a todolist:</label>
                <select id="list-select">
                    {% for list in lists %}
                    <option value={{list.id}}>{{list.name}}</option>
                    {% endfor %}
                </select>
                <label for="description">New todo:</label>
                <input type="text" placeholder="Type your todo here" name="description" />
                <input type="submit" value="Create" />
            </form>
            <h4>{{ active_list.name }}</h4>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="checkCompleted" data-id="{{ todo.id }}" type="checkbox" {%if todo.completed%} checked {%endif%} />
                    {{ todo.description }}
                    <button class="deleteTodo" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>